# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.idea/

# debug目录
cmake-build-debug/

# 编译目录
build

# 数据集
datasets/dataset
datasets/validate

# 模型
models/model.pt
models/model.onnx
models/model_int32.onnx
models/model.trt

# 执行文件
ptr